<main>
 <div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <h2>User info</h2>
     <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_.jpg" %>
    <table class ="table">
     <tbody>
      <tr></tr>
      <tr>
       <th>name</th>
       <th><%= @user.name %></th>
      </tr>
      <tr>
       <th>introduction</th>
       <th><%= @user.introduction %></th>
      </tr>
    </tbody>
   </table>
    <div class="row">
     <%= link_to "", edit_user_path(@user.id), class: 'btn btn-outline-secondary btn-block fas fa-user-cog'%>
    </div>
    <%= render 'books/newbook', book: @book %>
  </div>

 <div class="col-md-8 offset-md-1">
   <h2>Users</h2>
  <table class ="table">
   <thead>
   <tr>
   <th>image</th>
   <th>name</th>
   <th></th>
   </tr>
   </thead>

  <tbody>
   <% @users.each do |user| %>
   <tr>
   <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_.jpg" %></td>
   <td>
   <%= user.name %>
   </td>
   <td><%= link_to "Show",user_path(user) %> </td>
   <% end %>
  </tbody>
  </table>
 </div>
 </div>
 </div>
 </main>