<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="CbSjXsRKNvcPBmTM4htH3hJ7HbBQ+W+g9vz8zBx08piRrWldCMdVn+A95T3D2wM0pbofqWgXDSJVtfoIrT7dbg==">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" media="all" href="/assets/application-45182cac1b25141f155ceffd32044b4b39d52865d0d1a9e8031409d62b2a6649.css" data-turbolinks-track="reload">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
   <div class="container">
     <span><%= link_to "Bookers", '/' %></span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li> <%= link_to "Home", user_path(current_user.id), class: 'fas fa-home nav-link textlight' %></li>
          <li><%= link_to "Users", users_path, class: 'fas fa-users nav-link textlight' %></li>
          <li><%= link_to "Books", books_path, class: 'fas fa-book-open nav-link textlight' %></li>
          <li><%= link_to "logout", destroy_user_session_path, class: 'fas fa-sign-out-alt nav-link textlight',method: :delete %> </li>
        </ul>
      </div>
    <% else %>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav ml-auto">
      <li> <%= link_to "Home", root_path, class: 'fas fa-home nav-link textlight' %></li>
      <li><%= link_to "About", home_about_path, class: 'fas fa-link nav-link textlight' %></li>
      <li><%= link_to "sign up", new_user_registration_path, class: 'fas fa-user-plus nav-link textlight' %></li>
      <li><%= link_to "login", new_user_session_path, class: 'fas fa-sign-in-alt nav-link textlight' %> </li>
     </ul>
    </div>
   </div>
  </nav>
  <% end %>
  </header>
　<p id="notice">
 　<%=  notice %>
　</p>


</body>



  <%= yield %>
  <footer>
   <div class="container mt-5">
     <div class="row">
       <div class="mx-auto">
         <p>CopyRight Infratop.inc</p>
       </div>
     </div>
   </div>
 </footer>

</html>

